<div class="page-wrapper">
    <app-navbar></app-navbar>

    <div class="row page-conent">
        <div class="col-4">
            <div class="card">
                <h2>Aerocity, the bridge between <span>real world infrastructure</span> and
                    <span>decentralization</span>
                </h2>
                <p>Global integration through technology will become the key factor for the Future and therefore we are
                    looking to create a smart Urban Hub City incorporating key elements, which will encompass
                    utilization of technology to secure the lifestyle, health and well-being of its inhabitants. The
                    Pilot project of the South Bucharest Aerocity will provide a proof of concept of a global plan for
                    future city development. Romania has been selected as the existing infrastructure requires
                    substantial investment, it has a strong IT and language educated population, is part of the EU but
                    has lower barriers to entry for new ideas and concepts.
                    <br /><br />
                    By 2050 the world's population is expected to reach 9.8 billion. Nearly 70 percent of this booming
                    population—6.7 billion people— is projected to live in urban areas. We asked our architectural and
                    urban planning experts to design the city of the future.
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <h2>The hey principles of AeroCity'S design</h2>
                <p>We have configured a new approach to allow
                    people to be more empowered to live meaningful
                    and fulfilled lives, enabled seamlessly by technology,
                    offering exciting opportunities for all. Developments
                    in digital technology present opportunities to
                    enhance our strengths, overcome national
                    challenges and physical limits, and build new
                    sources of comparative advantage.
                    Sustainability and environmental protection are a
                    key design parameter in this project. We will
                    achieve a fully 'green; AeroCity through the
                    development of renewable energy sources across
                    the project. These will be provided to all areas of the
                    project; we will also preserve the energy created through conversion and reutilisation of heat and
                    carbon
                    waste in other areas of AeroCity. We will develop a hydrogen production plant and distribution
                    outlets. The
                    non-recyclable waste materials will be used in a 'waste to energy' incinerator to facilitate a
                    zero-landfill
                    solution.</p>
            </div>
        </div>
        <div class="col-4">
            <!-- <div class="card">
                <h2>EXECUTIVE SUMMARY</h2>
                <p>AeroCity Investment Group (AIG) has a vision to develop AeroCities as the future of integrated smart
                    urban
                    development, incorporating key design and technology solutions adapted to the 21 st Century. The
                    principal
                    attributes of such a new style of development have been studied over the last 3 years. AIG has
                    assembled an
                    advisory Board and 'think tank' to support the development and bring a new social and
                    environmentally
                    integrated approach to this urban development. AIG intends to roll out the concept in Europe,
                    Africa, Asia and
                    South America. A key element of the vision is to link it with the growth of digital decentralised
                    blockchain
                    solutions for the financing and operations on the project.</p>
            </div> -->
        </div>

    </div>
</div>